@import url('https://fonts.googleapis.com/css?family=Montserrat:600&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
/*@font-face {
    font-family: Delfino;
    src: url("../../../static/delfino.otf");
}*/


:root {
    --container-background-color: rgba(0, 0, 0, 0.4);
    --container-border-color: white;
    --font-color: #fff;
    --darker-main-color: #e2a339;
    --lighter-main-color: #ffff89;
    --alternative-main-color: #ffff89;
    --darker-main-color-bingothon: #74051b;
    --lighter-main-color-bingothon: #a20a17;
    --alternative-main-color-bingothon: #072c5e;
}

/*Bingo Colors*/
:root {
    --bingo-color-red: linear-gradient(#FF4944, #DA4440 60%, #CE302C);
    --bingo-color-orange: linear-gradient(#FF9C12, #F98E1E 60%, #D0800F);
    --bingo-color-green: linear-gradient(#129912, #108010 60%, #0c660c);
    --bingo-color-blue: linear-gradient(#409CFF, #37A1DE 60%, #088CBD);
    --bingo-color-purple: linear-gradient(#822dbf, #7120ab);
    --bingo-color-pink: linear-gradient(#ed86aa, #cc6e8f);
    --bingo-color-brown: linear-gradient(#3bd45f, #30b050);
    --bingo-color-teal: linear-gradient(#419695, #2e7372);
    --bingo-color-navy: linear-gradient(#0d48b5, #022b75);
    --bingo-color-yellow: linear-gradient(#8c8b8b, #808080);
}

:root {
    --border-color-red: #CE302C;
    --border-color-orange: #D0800F;
    --border-color-green: #129912;
    --border-color-blue: #088CBD;
    --border-color-purple: #7120ab;
    --border-color-pink: #cc6e8f;
    --border-color-brown: #3bd45f;
    --border-color-teal: #2e7372;
    --border-color-navy: #022b75;
    --border-color-yellow: #808080;
}

/*Bingo Colors*/
:root {
    --bingo-color-red: linear-gradient(#FF4944, #DA4440 60%, #CE302C);
    --bingo-color-orange: linear-gradient(#FF9C12, #F98E1E 60%, #D0800F);
    --bingo-color-green: linear-gradient(#129912, #108010 60%, #0c660c);
    --bingo-color-blue: linear-gradient(#409CFF, #37A1DE 60%, #088CBD);
    --bingo-color-purple: linear-gradient(#822dbf, #7120ab);
    --bingo-color-pink: linear-gradient(#ed86aa, #cc6e8f);
    --bingo-color-brown: linear-gradient(#3bd45f, #30b050);
    --bingo-color-teal: linear-gradient(#419695, #2e7372);
    --bingo-color-navy: linear-gradient(#0d48b5, #022b75);
    --bingo-color-yellow: linear-gradient(#8c8b8b, #808080);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.FlexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* global animation stuff */
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
