@import url('https://fonts.googleapis.com/css?family=Montserrat:600&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

:root {
    --container-background-color: rgba(206, 13, 0, 0.6);
    --container-border-color: black;
    --font-color: #fff;
    --darker-main-color: #e94e1b;
    --lighter-main-color: #f39200;
	--alternative-main-color: #d32f3e;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.FlexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* global animation stuff */
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
