@import url('https://fonts.googleapis.com/css?family=Montserrat:600&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
/*@font-face {
    font-family: Delfino;
    src: url("../../../static/delfino.otf");
}*/


:root {
    --container-background-color: rgba(0, 0, 0, 0.4);
    --container-border-color: white;
    --font-color: #fff;
    --darker-main-color: #e2a339;
    --lighter-main-color: #ffff89;
    --alternative-main-color: #ffff89;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.FlexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* global animation stuff */
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
